@using Student_Registration.Areas.LOC_State.Models;
@{
     ViewData["Title"] = "State Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Student_Registration.Areas.LOC_State.Models.LOC_StateModel;

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 
<div>
    <form method="post" asp-area="LOC_State" asp-controller="LOC_State" asp-action="LOC_StateSave">
       
        <div class=" form-group">
            <label>State Name</label>
            <input type="text" class=" form-control"  required="required" asp-for="StateName" placeholder="Enter State Name" />
            <span asp-validation-for="StateName" class="text-danger"></span>
        </div>
        <br />

        <style>


            .form-group label::before {
                content: "*";
                color: red;
            }

            input[required]:valid + label {
                display: none;
            }
        </style>


      
         <div class=" form-group">
            <label>State Code</label>
            <input type="text" class=" form-control" required="required" asp-for="StateCode" placeholder="Enter State Code" />
            <span asp-validation-for="StateCode" class="text-danger"></span>
        </div> <br />


        <div class="form-group">
            <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                <option value="">Select Country</option>
            </select>
        </div><br />


        
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="hidden" name="StateID" asp-for="StateID"/>
            <button type="submit" value="Save" class="submit btn btn-outline-primary">Save</button>
        </div>
    </form>
</div>
